name: Atualização diária

on:
  schedule:
    - cron: "0 11 * * 1-5"   # 11h UTC = 08h Brasil (dias úteis)
  workflow_dispatch:        # botão para rodar manual

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Instalar dependências
        run: |
          pip install -r requirements.txt
          pip install lxml

      - name: Rodar script
        run: python main.py

      - name: Commit e push dos arquivos gerados
        run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add docs/
          git commit -m "Atualização automática diária" || echo "Sem mudanças"
          git push