name: Atualização diária

on:
  schedule:
    - cron: "0 10 * * *"   # 07h da manhã horário Brasil
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - run: pip install -r requirements.txt

      - run: python main.py

      - run: |
          git config --global user.name "github-actions"
          git config --global user.email "actions@github.com"
          git add docs/
          git commit -m "Atualização automática diária" || echo "Sem alterações"
          git push